/node_modules
/public/hot
/public/storage
/public/file-manager/*
/public/documents/*
config/app.php
/storage/*.key
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
resources/views/components/back-end/_js_source_dir.blade.php
/app/View/Components/back-end/_js_source_dir.php
